
.ipynb_checkpoints/5.2-using-convnets-with-small-datasets-checkpoint.ipynb
cats_and_dogs_small_1.h5
cats_and_dogs_small_2.h5
.ipynb_checkpoints/5.3-using-a-pretrained-convnet-checkpoint.ipynb
*.h5
.ipynb_checkpoints/5.4-visualizing-what-convnets-learn-checkpoint.ipynb
.ipynb_checkpoints/6.1-one-hot-encoding-of-words-or-characters-checkpoint.ipynb
.ipynb_checkpoints/6.1-using-word-embeddings-checkpoint.ipynb
elephant_cam.jpg
.ipynb_checkpoints/6.2-understanding-recurrent-neural-networks-checkpoint.ipynb
.ipynb_checkpoints/6.3-advanced-usage-of-recurrent-neural-networks-checkpoint.ipynb
.ipynb_checkpoints/6.4-sequence-processing-with-convnets-checkpoint.ipynb
.ipynb_checkpoints/8.1-text-generation-with-lstm-checkpoint.ipynb
.ipynb_checkpoints/4.4-overfitting-and-underfitting-checkpoint.ipynb
.ipynb_checkpoints/8.2-deep-dream-checkpoint.ipynb
.ipynb_checkpoints/8.3-neural-style-transfer-checkpoint.ipynb
dream_at_scale_(1224, 1632).png
dream_at_scale_(1542, 2057).png
dream_at_scale_(2160, 2880).png
dream_at_scale_(624, 832).png
dream_at_scale_(874, 1165).png
final_dream.png
.ipynb_checkpoints/8.4-generating-images-with-vaes-checkpoint.ipynb
